<% @books.each_slice(3) do |three_books| %>

	<div class="row text-center">

		<% three_books.each do |book| %>
		
			<div class="col-sm-3 index-small-box">
				<div class="box-text">
					<a class="index-link" href="<%= book.url %>"><%= book.title.upcase %></a><br /><br />
					<a class="index-link" href="/books/<%= book.id %>">View Wordcloud</a>
				</div>

				<br />

				<div class="box-text">
					<%= form_tag "/book_likes", method: :post do %>
						<input type="hidden" name="book_id" value="<%= book.id %>">
						<input type="submit" value="Like">
					<% end %>
				</div>

			</div>
		<% end %>
	</div>
<% end %>

