<head>
    <title><%= @book.title %></title>
    <script src="<%= @book.book_cloud_url %>"></script>
    <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js'></script> -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js'></script>
    <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js'></script> -->

    
    <!-- <script src="https://s3-us-west-1.amazonaws.com/projectgutenbergtest/book_clouds/pride_and_prejudice.js"></script> -->
</head>



    <!-- <div class="example_div"></div> tooltip div -->

    <script type="text/javascript">
      // var tooltip = d3.select("body")
      //   .append("div")
      //   .style("position", "absolute")
      //   .style("z-index", "10")
      //   .style("visibility", "hidden")
      //   .text("a simple tooltip");
        
      // var sampleSVG = d3.select(".example_div")
      //   .append("svg:svg")
      //   .attr("class", "sample")
      //   .attr("width", 300)
      //   .attr("height", 300);    
        
      // d3.select(".example_div svg")
      //   .append("svg:circle")
      //   .attr("stroke", "black")
      //   .attr("fill", "aliceblue")
      //   .attr("r", 50)
      //   .attr("cx", 52)
      //   .attr("cy", 52)
      //   .on("mouseover", function(){return tooltip.style("visibility", "visible");})
      //   .on("mousemove", function(){return tooltip.style("top", (event.pageY-10)+"px").style("left",(event.pageX+10)+"px");})
      //   .on("mouseout", function(){return tooltip.style("visibility", "hidden");});
    </script>


    <div class='row wordcloud-row'>
      <div class='col-lg-12'>
        <div class='card header-card' style="">
          <h4>
            <a class="header-link" href="<%= @book.url %>"><%= @book.title %></a>
            <div class="header-subsection-divider hidden-lg-down">
              |
            </div>
            <div class="header-subsection">
              wordcloud
            </div>
          </h4>
        </div>
        <div class="card-block wordcloud-card" id="wordcloud" style="margin-top: 0px;"></div>
      </div>
    </div>


    <div class='row' style="margin-top: 100px;">
      <div class='col-md-12'>
        <div class="card header-card" style=""> <!-- stats header-->
          <h4>
            <a class="header-link" href="<%= @book.url %>"><%= @book.title %></a>
              <div class="header-subsection-divider hidden-lg-down">
                |
              </div>
              <div class="header-subsection">
                stats
              </div>
          </h4>
        </div> <!-- end stats header -->

        <div class='card-block stats-card'>
          <div class='row stats-row'>
            <div class='col-md-4 stats-column stats-column-first'>
              <div class='stats-doughnut-chart-container'>
                <h4>Emotional Summary</h4>
                <div class='stats-doughnut-chart'>
                  <canvas id='myDoughnutChart' style=""></canvas>
                </div>
              </div>
            </div>


            <div class='col-md-4 stats-column'>
              <div class="stats-bar-chart-container">
                <h4>Sentiment Analysis</h4>
                <div class='stats-bar-chart'>
                  <canvas id='myBarChart' height="250"></canvas>

                  <%= @sentiment_word %>
                </div>
              </div>
            </div>

            <div class='col-md-4 stats-column'>
              <div class='stats-key-phrases-container'>
                <h4>Top 5 Keywords</h4>
                <div class='stats-key-phrases'>
                  <canvas id="myHorizontalBar" width="800" height="450"></canvas>
                </div>
              </div>
            </div>

          </div>

          <div class='row footer-row'>
            <div class='col-md-6' style='margin: auto;'>
              <!-- <div class='stats-footer-container'>
                <h4>Created: <%= @created_at %> </h4>
              </div> -->

              <div class='stats-footer-container'>
                <h4>Number of likes: <%= @number_of_likes %></h4>
              </div>

              <div class='stats-like-button'>
                <% if @like_button %>
                  <%= form_tag "/book_likes", style:"", method: :post do %>
                    <input type="hidden" name="book_id" value="<%= @book.id %>">
                    <button type="submit" class="btn btn-primary book-button-short like-button">
                      <i class="fa fa-thumbs-o-up prefix" aria-hidden="true"></i>  LIKE
                    </button>
                  <% end %>
                <% elsif @already_liked %>
                  <div class='stats-footer-container'>
                    <h5>You already liked this book.</h5>
                  </div>
                <% else %>
                <% end %>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    







    


<script>
  d3.wordcloud()
    .size([1180, 420])
    .spiral('archimedean')
    .scale('sqrt')
    .font('Lucida-Sans-Unicode')
    .fill(d3.scale.ordinal().range(["#00770c", "#0e661e", "#048c1c", "#1ebc3a", "#40ce59", "#1fb72e"])) // green
    // .fill(d3.scale.ordinal().range(["#020202", "#2d2d2d", "#545454", "#7a7a7a", "#9e9e9e", "#aaaaaa"])) // grayscale
    // .fill(d3.scale.ordinal().range(["#080063", "#180e87", "#2a1eb2", "#4236c4", "#5e53d1", "#8d83f7"])) // blue
    // .fill(d3.scale.ordinal().range(["#4016fc", "#e2122d", "#136300", "#ad42f4", "#f77810", "#fc077d"])) // rainbow
    .words(words)
    .onwordclick(function(d, i) {
      d3.tip().show();
    })
    .start();
</script>



<script>
  var ctx = document.getElementById("myDoughnutChart").getContext('2d');
  var myDoughnutChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: [
        "joy", 
        "fear", 
        "anger",
        "disgust", 
        "sadness"
      ],
      datasets: [{
        backgroundColor: [

          "#f1c40f",
          "#3498db",
          "#e8b796",
          "#9b59b6",
          "#858796"
        ],
        data: [
          <%= @emotions_summary['joy'] %>, 
          <%= @emotions_summary['fear'] %>, 
          <%= @emotions_summary['anger'] %>,
          <%= @emotions_summary['disgust'] %>, 
          <%= @emotions_summary['sadness'] %> 
        ]
      }],
      options: {
        responsive: true,
        legend: {
            display: false
         }
      }
    }
  });
</script>

<script>
  var data = {
    labels: ["Sentiment"],
    datasets: [
        {
            label: "Average sentiment",
            fillColor: "rgba(51,71,135,0.5)",
            strokeColor: "rgba(51,71,135,0.8)",
            highlightFill: "rgba(51,71,135,0.75)",
            highlightStroke: "rgba(51,71,135,1)",
            data: [<%= @emotions_summary['sentiment'] %>]
        }
    ]
  };

  var options = {
      scaleBeginAtZero: false,
      responsive: true
  };

  var ctx2 = document.getElementById("myBarChart").getContext("2d");
  var myBarChart = Chart.Bar(ctx2, {
    data: data,
    options: options
  });
</script>

<script>
  var myHorizontalBar = new Chart(document.getElementById("myHorizontalBar"), {
      type: 'horizontalBar',
      data: {
        labels: [
          '<%= @keywords[0]['text'] %>', 
          '<%= @keywords[1]['text'] %>', 
          '<%= @keywords[2]['text'] %>', 
          '<%= @keywords[3]['text'] %>', 
          '<%= @keywords[4]['text'] %>'
        ],
        datasets: [
          {
            label: "Relevance",
            backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
            data: [
              <%= @keywords[0]['relevance'] %>, 
              <%= @keywords[1]['relevance'] %>, 
              <%= @keywords[2]['relevance'] %>, 
              <%= @keywords[3]['relevance'] %>, 
              <%= @keywords[4]['relevance'] %>
            ]
          }
        ]
      },
      options: {
        legend: { display: false },
        title: {
          display: true,
          text: ''
        }
      }
  });
</script>