<head>
    <title><%= @book.title %></title>
    <script src="<%= @book.book_cloud_url %>"></script>
    
    <!-- <script src="https://s3-us-west-1.amazonaws.com/projectgutenbergtest/book_clouds/pride_and_prejudice.js"></script> -->
</head>
  <body style="text-align: center">
    <div class="header-box">
      <h1><a class="header-link" href="<%= @book.url %>"><%= @book.title.upcase %></a></h1>
    </div>

    <div id="text-analysis">
        <%= @test %>
    </div>

    <div class="example_div"></div>

    <script type="text/javascript">
      // var tooltip = d3.select("body")
      //   .append("div")
      //   .style("position", "absolute")
      //   .style("z-index", "10")
      //   .style("visibility", "hidden")
      //   .text("a simple tooltip");
        
      // var sampleSVG = d3.select(".example_div")
      //   .append("svg:svg")
      //   .attr("class", "sample")
      //   .attr("width", 300)
      //   .attr("height", 300);    
        
      // d3.select(".example_div svg")
      //   .append("svg:circle")
      //   .attr("stroke", "black")
      //   .attr("fill", "aliceblue")
      //   .attr("r", 50)
      //   .attr("cx", 52)
      //   .attr("cy", 52)
      //   .on("mouseover", function(){return tooltip.style("visibility", "visible");})
      //   .on("mousemove", function(){return tooltip.style("top", (event.pageY-10)+"px").style("left",(event.pageX+10)+"px");})
      //   .on("mouseout", function(){return tooltip.style("visibility", "hidden");});
    </script>


    
    <script>// make a wordcloud id in css</script>

    <div id="wordcloud"></div>

    <script>
      d3.wordcloud()
        .size([1200, 380])
        .spiral('archimedean')
        .scale('sqrt')
        .font('times')
        .fill(d3.scale.ordinal().range(["#4016fc", "#1a0a63", "#35228e", "#513cb2", "#7d69db"]))
        .words(words)
        .onwordclick(function(d, i) {
          d3.tip().show();
        })
        .start();
    </script>
  </body>