<head>
    <title><%= @book.title %></title>
    <script src="<%= @book.book_cloud_url %>"></script>
    <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js'></script> -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js'></script>
    <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js'></script> -->

    
    <!-- <script src="https://s3-us-west-1.amazonaws.com/projectgutenbergtest/book_clouds/pride_and_prejudice.js"></script> -->
</head>

<div class='row'>
  <div class="col-md-12" style="margin-bottom: 100px;">

    <div class="header-box" style="padding-bottom: 0px; margin-top: 30px;">
      <h3>
        <a class="header-link" href="<%= @book.url %>"><%= @book.title %></a>
          <div class="header-subsection-divider">
            |
          </div>
          <div class="header-subsection">
            wordcloud
          </div>
      </h3>
    </div>
  </div>
</div>

  <div class="example_div"></div>

  <script type="text/javascript">
    // var tooltip = d3.select("body")
    //   .append("div")
    //   .style("position", "absolute")
    //   .style("z-index", "10")
    //   .style("visibility", "hidden")
    //   .text("a simple tooltip");
      
    // var sampleSVG = d3.select(".example_div")
    //   .append("svg:svg")
    //   .attr("class", "sample")
    //   .attr("width", 300)
    //   .attr("height", 300);    
      
    // d3.select(".example_div svg")
    //   .append("svg:circle")
    //   .attr("stroke", "black")
    //   .attr("fill", "aliceblue")
    //   .attr("r", 50)
    //   .attr("cx", 52)
    //   .attr("cy", 52)
    //   .on("mouseover", function(){return tooltip.style("visibility", "visible");})
    //   .on("mousemove", function(){return tooltip.style("top", (event.pageY-10)+"px").style("left",(event.pageX+10)+"px");})
    //   .on("mouseout", function(){return tooltip.style("visibility", "hidden");});
  </script>


  <div class='row'>
    <div class='col-lg-12'>
      <div class="card" id="wordcloud" style="margin-top: 0px;"></div>
    </div>
  </div>



  <div class="header-box" style="padding-bottom: 10px; margin-top: 100px;"> <!-- stats header-->
    <h3>
      <a class="header-link" href="<%= @book.url %>"><%= @book.title %></a>
        <div class="header-subsection-divider">
          |
        </div>
        <div class="header-subsection">
          stats
        </div>
    </h3>
  </div> <!-- end stats header -->


  <div id="text-analysis">
    <%= @emotions_summary %>
  </div>

  

  <%= form_tag "/book_likes", style:"display: inline-block; padding-top: 15px; padding-left: 100px;", method: :post do %>
    <input type="hidden" name="book_id" value="<%= @book.id %>">
    <button type="submit" class="btn btn-danger book-button-short" style="">LIKE</button>
  <% end %>



<div class='row'>
  <div class='col-md-6'>
    <div class='stats-doughnut-chart'>
      <canvas id='myChart' style=""></canvas>
    </div>
  </div>


  <div class='col-md-6'>
    <div class='stats-bar-chart'>
      <canvas id='myBarChart' style=""></canvas>
    </div>
  </div>

</div>

<script>
  d3.wordcloud()
    .size([1180, 400])
    .spiral('archimedean')
    .scale('sqrt')
    .font('Lucida-Sans-Unicode')
    .fill(d3.scale.ordinal().range(["#00770c", "#0e661e", "#048c1c", "#1ebc3a", "#40ce59", "#1fb72e"])) // green
    // .fill(d3.scale.ordinal().range(["#020202", "#2d2d2d", "#545454", "#7a7a7a", "#9e9e9e", "#aaaaaa"])) // grayscale
    // .fill(d3.scale.ordinal().range(["#080063", "#180e87", "#2a1eb2", "#4236c4", "#5e53d1", "#8d83f7"])) // blue
    // .fill(d3.scale.ordinal().range(["#4016fc", "#e2122d", "#136300", "#ad42f4", "#f77810", "#fc077d"])) // rainbow
    .words(words)
    .onwordclick(function(d, i) {
      d3.tip().show();
    })
    .start();
</script>



<script>
  var ctx = document.getElementById("myChart").getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: [
        "joy", 
        "fear", 
        "anger",
        "disgust", 
        "sadness"
      ],
      datasets: [{
        backgroundColor: [

          "#f1c40f",
          "#3498db",
          "#e8b796",
          "#9b59b6",
          "#858796"
        ],
        data: [
          <%= @emotions_summary['joy'] %>, 
          <%= @emotions_summary['fear'] %>, 
          <%= @emotions_summary['anger'] %>,
          <%= @emotions_summary['disgust'] %>, 
          <%= @emotions_summary['sadness'] %> 
        ]
      }],
      options: {
        responsive: true,
        legend: {
            display: false
         }
      }
    }
  });
</script>

<script>
  var data = {
    labels: ["Sentiment"],
    datasets: [
        {
            label: "Overall sentiment",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,0.8)",
            highlightFill: "rgba(220,220,220,0.75)",
            highlightStroke: "rgba(220,220,220,1)",
            data: [<%= @emotions_summary['sentiment'] %>]
        }
    ]
  };

  var options = {
      scaleBeginAtZero: false,
      responsive: true
  };

  var ctx2 = document.getElementById("myBarChart").getContext("2d");
  var myBarChart = Chart.Bar(ctx, {
    data: data,
    options: options
});
</script>