<% @users.each_slice(3) do |three_users| %>

	<div class="row">

		<% three_users.each do |user|%>

			<div class="col-md-4">
						<!--Card-->
						<div class="card card-block">
						    <!--Card content-->
						    <div>
						        <!--Title-->
						        <h4 class="card-title"><a href="#"><%= user.email %></a></h4>
						        <!--Text-->
						        <!-- <p class="card-text"></p> -->
						        <% if !(user.id == @current_user_id) %>
											<%= form_tag "/follows", style:"display: inline-block; padding-top: 15px;", method: :post do %>
												<input type="hidden" name="followee_id" value="<%=user.id%>">
												<input type="submit" lass="btn btn-primary" value="FOLLOW">
											<% end %>
											<%= form_tag "/users/#{user.id}", style:"display: inline-block; padding-top: 15px;", method: :get do %>
												<input type="submit" lass="btn btn-default" value="PROFILE">
											<% end %>
										<% else %>
											<%= form_tag "/users/#{@current_user_id}", style:"display: inline-block; padding-top: 15px;", method: :get do %>
												<input type="submit" lass="btn btn-default" value="PROFILE">
											<% end %>
										<% end %>
						        <!-- <a href="#" class="btn btn-primary">LIKE</a> -->
						    </div>
						    <!--/.Card content-->

						</div>
						<!--/.Card-->
				</div>
			
		<% end %>

	</div>

<% end %>