<!DOCTYPE html>
<html>
  <head>
    <title>Capstone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <div class="text-center">
      <% if current_user %>
        <%= link_to "Sign out", "/users/sign_out" %> |
        <%= link_to "Users", "/users/list" %> |
        <%= link_to "New Book", "/books/new" %> |
        <%= link_to "Books", "/books" %> |
        <%= link_to "Your books", "/books?liked=self" %> |
        <%= link_to "Your friends' books", "/books?liked=followed" %> |
      <% else %>
        <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
      <% end %>
    </div>

  </head>

  <% flash.each do |name, message| %>
	  <div class="alert alert-<%= name %> alert-dismissible" role="alert">
	    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	    <%= message %>
	  </div>
	<% end %>

  <body>
    <%= yield %>
  </body>
</html>
